# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1
numpy>=1.17.3
pandas>=0.24.2
geopandas>=0.6.1
seaborn>=0.9.0
rasterio>=1.1.0
shapely>=1.6.4
opencv-python>=4.1.1
keras
tensorflow>=1.14.0
